<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" context="width-device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Listar Libros</title>
</head>
<body>
    <table>
        <thread>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Editorial</td>
                <td>No. Paginas</td>
                <td>Autor</td>
            </tr>
        </thread>
        <tbody>
            {% for libro in libro %}
                <tr>
                
                    <td>{{ libro.id }}</td>
                    <td>{{ libro.nombre }}</td>
                    <td>{{ libro.editorial }}</td>
                    <td>{{ libro.no_paginas }}</td>
                    <td>{{ libro.autor }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>